In [1]:
import pandas as pd
import numpy as np

In [3]:
temperatures = pd.Series(data=[30.1, np.nan, 28.5, 21.5, 20.2, 18.4, 16.5, 17.0, 19.5, 23.4, np.nan, 29.9],
                         index=["January", "February", "March", "April", "May", "June", "July", "August", 
                                "September", "October", "November", "December"])

print(temperatures)

January      30.1
February      NaN
March        28.5
April        21.5
May          20.2
June         18.4
July         16.5
August       17.0
September    19.5
October      23.4
November      NaN
December     29.9
dtype: float64

In [6]:
# identifying null values
nulos = pd.isnull(obj=temperatures)
print(nulos)

January      False
February      True
March        False
April        False
May          False
June         False
July         False
August       False
September    False
October      False
November      True
December     False
dtype: bool

In [8]:
fullfilled_temps = temperatures.fillna(temperatures.mean())
print(fullfilled_temps)

January      30.1
February     22.5
March        28.5
April        21.5
May          20.2
June         18.4
July         16.5
August       17.0
September    19.5
October      23.4
November     22.5
December     29.9
dtype: float64

In [9]:
treated_df_temps = temperatures.dropna()
print(treated_df_temps)

January      30.1
March        28.5
April        21.5
May          20.2
June         18.4
July         16.5
August       17.0
September    19.5
October      23.4
December     29.9
dtype: float64