In [2]:
import pandas as pd

In [4]:
classData = pd.read_csv("pandas-sample-data.csv")
print(classData)

   ID_Curso        Instrutor               AE  Inscritos  Avaliacao
0     MT101        Ana Silva     Marcos Lopes       55.0        4.8
1     MT101      Bruno Gomes        Julia Vaz       43.0        4.9
2     MT102      Carlos Dias    Sofia Cardoso       60.0        4.7
3     MT102        Ana Silva   Rodrigo Mattos       58.0        NaN
4     MT102       Luiz Costa     Marcos Lopes        NaN        4.5
5     MT103    Sandra Moraes     Pedro Mendes       47.0        4.6
6     MT103      Bruno Gomes  Alice Gonçalves       50.0        4.7
7     MT104      Carlos Dias        Julia Vaz       52.0        4.4
8     MT104    Sandra Moraes      Paulo Souza       55.0        4.8
9     FI101  Gabriel Ribeiro      Carla Souza       40.0        4.9
10    FI101      Maria Clara    Sofia Cardoso       42.0        4.7
11    FI102  Gabriel Ribeiro      Paulo Souza       39.0        4.6
12    FI102   Roberta Vieira     Pedro Mendes       41.0        4.8
13    FI103      Maria Clara  Alice Gonçalves       45.0        4.6
14    FI103       Luiz Costa    Sofia Cardoso       48.0        4.5
15    FI104   Roberta Vieira        Julia Vaz       50.0        4.7
16    FI104        Ana Silva     Marcos Lopes       53.0        4.8
17    HI101    Pedro Álvares      Carla Souza       44.0        4.5
18    HI102    Sandra Moraes     Marcos Lopes       46.0        4.9
19    HI103  Gabriel Ribeiro      Paulo Souza       49.0        4.6

In [6]:
# selecting specified cols by atributtes
print(f"{classData.Instrutor}", end="\n\n")

# selecting specified cols ny name
print(f"{classData['AE']}", end="\n\n")

0           Ana Silva
1         Bruno Gomes
2         Carlos Dias
3           Ana Silva
4          Luiz Costa
5       Sandra Moraes
6         Bruno Gomes
7         Carlos Dias
8       Sandra Moraes
9     Gabriel Ribeiro
10        Maria Clara
11    Gabriel Ribeiro
12     Roberta Vieira
13        Maria Clara
14         Luiz Costa
15     Roberta Vieira
16          Ana Silva
17      Pedro Álvares
18      Sandra Moraes
19    Gabriel Ribeiro
Name: Instrutor, dtype: object

0        Marcos Lopes
1           Julia Vaz
2       Sofia Cardoso
3      Rodrigo Mattos
4        Marcos Lopes
5        Pedro Mendes
6     Alice Gonçalves
7           Julia Vaz
8         Paulo Souza
9         Carla Souza
10      Sofia Cardoso
11        Paulo Souza
12       Pedro Mendes
13    Alice Gonçalves
14      Sofia Cardoso
15          Julia Vaz
16       Marcos Lopes
17        Carla Souza
18       Marcos Lopes
19        Paulo Souza
Name: AE, dtype: object

In [9]:
array_boolean = classData["Avaliacao"] > 4.7
print(f"{array_boolean}", end="\n\n")

cursos_top = classData[array_boolean]
print(f"{cursos_top}", end="\n\n")

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16     True
17    False
18     True
19    False
Name: Avaliacao, dtype: bool

   ID_Curso        Instrutor            AE  Inscritos  Avaliacao
0     MT101        Ana Silva  Marcos Lopes       55.0        4.8
1     MT101      Bruno Gomes     Julia Vaz       43.0        4.9
8     MT104    Sandra Moraes   Paulo Souza       55.0        4.8
9     FI101  Gabriel Ribeiro   Carla Souza       40.0        4.9
12    FI102   Roberta Vieira  Pedro Mendes       41.0        4.8
16    FI104        Ana Silva  Marcos Lopes       53.0        4.8
18    HI102    Sandra Moraes  Marcos Lopes       46.0        4.9

In [13]:
instructors_by_top_evaluations = classData.loc[classData.Avaliacao > 4.7, "Instrutor"]

print(f"{instructors_by_top_evaluations}", end="\n\n")

0           Ana Silva
1         Bruno Gomes
8       Sandra Moraes
9     Gabriel Ribeiro
12     Roberta Vieira
16          Ana Silva
18      Sandra Moraes
Name: Instrutor, dtype: object

In [14]:
using_iloc = classData.iloc[0:4, [1,4]]

print(using_iloc)

     Instrutor  Avaliacao
0    Ana Silva        4.8
1  Bruno Gomes        4.9
2  Carlos Dias        4.7
3    Ana Silva        NaN