In [1]:
import pandas as pd
classData = pd.read_csv("pandas-sample-data.csv")
classData.loc[(classData['ID_Curso'] == 'MT_102') & (classData["Instrutor"] == "Luiz Costa"), 'Inscritos'] = 59
print(classData)

   ID_Curso        Instrutor               AE  Inscritos  Avaliacao
0     MT101        Ana Silva     Marcos Lopes       55.0        4.8
1     MT101      Bruno Gomes        Julia Vaz       43.0        4.9
2     MT102      Carlos Dias    Sofia Cardoso       60.0        4.7
3     MT102        Ana Silva   Rodrigo Mattos       58.0        NaN
4     MT102       Luiz Costa     Marcos Lopes        NaN        4.5
5     MT103    Sandra Moraes     Pedro Mendes       47.0        4.6
6     MT103      Bruno Gomes  Alice Gonçalves       50.0        4.7
7     MT104      Carlos Dias        Julia Vaz       52.0        4.4
8     MT104    Sandra Moraes      Paulo Souza       55.0        4.8
9     FI101  Gabriel Ribeiro      Carla Souza       40.0        4.9
10    FI101      Maria Clara    Sofia Cardoso       42.0        4.7
11    FI102  Gabriel Ribeiro      Paulo Souza       39.0        4.6
12    FI102   Roberta Vieira     Pedro Mendes       41.0        4.8
13    FI103      Maria Clara  Alice Gonçalves       45.0        4.6
14    FI103       Luiz Costa    Sofia Cardoso       48.0        4.5
15    FI104   Roberta Vieira        Julia Vaz       50.0        4.7
16    FI104        Ana Silva     Marcos Lopes       53.0        4.8
17    HI101    Pedro Álvares      Carla Souza       44.0        4.5
18    HI102    Sandra Moraes     Marcos Lopes       46.0        4.9
19    HI103  Gabriel Ribeiro      Paulo Souza       49.0        4.6

In [2]:
print(classData.loc[(classData['Inscritos'] > 50.0)])

   ID_Curso      Instrutor              AE  Inscritos  Avaliacao
0     MT101      Ana Silva    Marcos Lopes       55.0        4.8
2     MT102    Carlos Dias   Sofia Cardoso       60.0        4.7
3     MT102      Ana Silva  Rodrigo Mattos       58.0        NaN
7     MT104    Carlos Dias       Julia Vaz       52.0        4.4
8     MT104  Sandra Moraes     Paulo Souza       55.0        4.8
16    FI104      Ana Silva    Marcos Lopes       53.0        4.8